---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$mm_maxWidth: 380px;

@import 
  "normalize",
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "mmenu/jquery.mmenu.all",
  "mmenu/addons/jquery.mmenu.header",
  "icons"
;

$extra-large-screen: em(1280);


body {
  background-color:#fff;
  font-family: $sans-serif;
  font-size: rem(15);
  line-height: 1.6em;
}


h1, h2, h3, p {
  margin: 0;
}

hr {
  border-bottom: 1px solid $medium-gray;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

p {
  color: $base-font-color;
  line-height: $base-line-height;
}

a {
  color: $base-link-color;
  text-decoration: none;
}

blockquote {
  margin: 0 0 0.3em 0;
  padding: 0 0 0 $base-spacing / 2;
  border-left: 1px solid $medium-gray;
  font-style: italic;
  
  cite {
    display: block;
    font-size: rem(12);
    font-style:normal;
    font-family: $sans-serif;
    
    &:before {
      content: "\2014 \0020";
    }
  }
}


//////////////////////////////////////////////////////////////////////////////////


.post {
  font-family: $serif;
  @include outer-container;
  
  .pre-header {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: 0.7em;
    font-weight: 700;
    margin-top:rem(40);
    margin-bottom: 2em;
    padding: 0.3em 0;
    text-align: left;
    text-transform: uppercase;
  }
  
  h1 {
    font-family: $serif;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
  
    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }
  
  h2 {
    font-family: $serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.6em;
    margin-bottom: 0.9em;
  
    @include media($medium-screen) {
      font-size: 1.2em;
    }
  }
  
  code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-family: monaco;
    font-size: 0.75em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }
  
  h3 {
    font-family: $serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: .4em;
  }
  
  p.date {
    color: transparentize($base-font-color, .6);
    font-family: $serif;
    font-size: rem(13);
    font-style: italic;
    margin-bottom: 0.3em;
  }
  
  p {
    font-family: $serif;
    font-size: rem(15);
    line-height: 1.6em;
    margin-bottom: 1.5em;
  }
  
  ul {
    @extend %default-ul;
  }
  
  ol {
    @extend %default-ol;
  }
  
  p,
  li {
    strong {
      font-family: $sans-serif;
      font-weight: 700;
    }
  }
  
  a.read-more {
    display: inline-block;
    font-family: $sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;
  
    span {
      font-family: $serif;
      font-size: 1.5em;
      font-style: normal;
      position: absolute;
      right: -12px;
      top: -1px;
    }
  }
  
  hr {
    width: 3em;
  }
  
  p.author {
    font-family: $serif;
    font-style: italic;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.wrapper {
  @include outer-container;
}

//////////////////////////////////////////////////////////////////////////////////


#menu {
  
  &.mm-menu {
    background-color:$light-gray;
    border-right: solid 1px $medium-gray;
    
    li {
      .subsections {
        display:none;
        padding-top:0;
        font-size:rem(13);
        
        a {
          display:block;
          margin-bottom:5px;
          color:rgba( $base-font-color, .7 );
          padding-left: $base-spacing / 2;
        }
      }
    }
  }
}

.site-header {
  border-bottom: solid 1px $medium-gray;
  background-color:#fff;
  position:fixed;
  width:100%;
  
  .show-menu {
    @include icon-font();
    position:absolute;
    border-right:solid 1px $medium-gray;
    height:60px;
    width:60px;
    
    &:before {
      content: "\e120";
      font-size:22px;
      padding:6px;
      margin-top:12px;
      margin-left:12px;
      display:inline-block;
      color: $dark-gray;
    }
    
    .mm-opened & {
      background-color:$base-accent-color;
      
      &:before {
        color:#fff;
      }
    }
    
    .text {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
  }
  
  .site-title {
    color:$base-font-color;
    font-size:rem(20);
    line-height:59px;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:2px;
    display:block;
    margin-left: 75px;
    
    .icon {
      @include icon-font();
      font-size:rem(32);
      float:left;
      height:60px;
      line-height:55px;
      margin-right:5px;
      text-align:center;
      
      &:before {
        content: "\e034";
      }
    }
  }
}

.page-content {
  padding-top:60px;
}

.post-content {
  @include span-columns(10);
  @include shift(1);
  margin-bottom:50px;

  @include media($large-screen) {
    @include span-columns(8);
    @include shift(2);
  }
  @include media($extra-large-screen) {
    .mm-opening & {
      @include shift(0);
    }
  }
}


.contribute {
  position:fixed;
  bottom:0;
  right:0;
  width:100%;
  background-color:#fff;
  border-top:solid 1px $medium-gray;
  
  & > ul {
    @include outer-container;
    padding-left:$base-spacing;
    padding-right:$base-spacing;
    
    & > li {
      @include span-columns(6);
      
      &:nth-child(even) {
        text-align:right;
      }
    }
  }
  
  .footer-in-view & {
    position:static;
    clear:both;
  }
}

html,
html.mm-background .mm-page,
.site-footer {
  background-color:$medium-gray;
}


.site-footer {
  padding:$base-spacing;
  
  a {
    color:$base-font-color;
  }
  
  .primary {
    @include media($medium-screen) {
      @include span-columns(6);
    }
  }
  
  .secondary {
    @include media($medium-screen) {
      @include span-columns(6);
      @include omega();
    }
  }
  
  hr {
    border-color:$dark-gray;
    @include span-columns(12);
  }
  
  .tertiary {
    font-size:rem(12);
    
    @include media($medium-screen) {
      @include span-columns(11);
      
      h6 {
        display:inline;
        
        &:after {
          content:':';
        }
      }
      
      ul {
        display:inline;
      
        li {
          display:inline;
          
          &:before {
            content:'\00a0\007C\00a0';
            color:rgba( $base-font-color, .5 );
          }
          
          &:first-of-type:before {
            content:'\00a0';
          }
        }
      }
    }
  }
  
  .source {
    a {
      @include icon-font();
      
      &:before {
        content: "\eab4";
      }
      
      .text {
        @extend .sr-only;
      }
    }
    
    @include media($medium-screen) {
      @include span-columns(1);
      @include omega();
      text-align:right;
    }
  }
}


.mm-page > div {
  background-color:#fff;
  position:relative;
}


.home {
  
  section {
    
    background-size:cover;
    background-position: center center;
    color:#fff;
    
    p {
      color:#fff;
    }
    
    article {
      padding:$base-spacing * 2 $base-spacing;
      @include span-columns(10);
      @include shift(1);
      
      h1 {
        margin-bottom:rem(15);
        font-size:rem(30);
      }
      
      p {
        font-weight:200;
        font-size:rem(18);
        margin-bottom:rem(15);
      }
    
      & > a {
        @extend button;
      }
    }
    
    &.handbook {
      background-image:url(../img/book.jpg);
    }
  }
}