---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$mm_maxWidth: 380px;

@import 
  "normalize",
  "bourbon/bourbon",
  "base/base",
  "neat/neat",
  "mmenu/jquery.mmenu.all",
  "mmenu/addons/jquery.mmenu.header",
  "icons"
;

$small-screen: em(400);
$extra-large-screen: em(1280);


body {
  background-color:#fff;
  font-family: $sans-serif;
  font-size: rem(15);
  line-height: 1.6em;
}


h1, h2, h3, p {
  margin: 0;
}

hr {
  border-bottom: 1px solid $medium-gray;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

p {
  color: $base-font-color;
  line-height: $base-line-height;
}

a {
  color: $base-link-color;
  text-decoration: none;
}

.headerlink {
  visibility: hidden;
  
  a {
    cursor:pointer;
  }
  
  :hover > &,
  &.active {
    visibility: visible;
  }
  
  .url {
    display:block;
    max-height:0;
    overflow:hidden;
    font-size:13px;
    font-weight:normal;
    font-family:$sans-serif;
    
    .icon-link {
      margin-right:5px;
    }
  }
  
  &.active {
    .url {
      max-height:200px;
      overflow:auto;
      @include transition(max-height 0.4s ease-in-out);
    }
  }
}
blockquote {
  margin: 0 0 0.3em 0;
  padding: 0 0 0 $base-spacing / 2;
  border-left: 1px solid $medium-gray;
  font-style: italic;
  
  cite {
    display: block;
    font-size: rem(12);
    font-style:normal;
    font-family: $sans-serif;
    
    &:before {
      content: "\2014 \0020";
    }
  }
}

pre,
.panel {
  background: $light-gray;
  padding:$base-spacing;
  clear:both;
  
  @include media($medium-screen) {
    border-radius: $base-border-radius * 1.5;
    border: 1px solid $medium-gray;
  }
}


//////////////////////////////////////////////////////////////////////////////////

.pre-header {
  border-bottom: 1px solid $base-font-color;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.3em 0;
  text-align: left;
  text-transform: uppercase;
  line-height:inherit;
  color:$base-font-color;

  &:hover,
  &:active,
  &:focus {
    color:$base-font-color;
  }

  
  @include media($medium-screen) {
    margin-top:rem(40);
  }
  
  a {
    color:$base-font-color;
  }
}

.post,
.docs {
  font-family: $serif;
  @include outer-container;
  text-align:center;
  
  .post-content {
    text-align:left;
  
    
    h1 {
      font-family: $serif;
      font-size: 2em;
      font-weight: 700;
      margin-bottom: 0.5em;
    
      @include media($medium-screen) {
        font-size: 2.6em;
      }
    }
    
    &.lead-paragraph p:first-of-type,
    .lead {
      font-family: $serif;
      font-size: 1em;
      font-style: italic;
      font-weight: 400;
      line-height: 1.6em;
      margin-bottom: 0.9em;
    
      @include media($medium-screen) {
        font-size: 1.2em;
      }
    }
    
    code,
    p code {
      background: $light-gray;
      border-radius: $base-border-radius * 1.5;
      border: 1px solid $medium-gray;
      font-family: $monospaced;
      font-size: 0.75em;
      font-style: normal;
      padding: 0.1em 0.4em;
      white-space: nowrap;
      
      strong {
        font-family: $monospaced;
      }
      
      &[class^="icon-"],
      &[class*=" icon-"] {
        font-family:$sans-serif;
        
        &:before {
          @include icon-font();
        }
        
        span {
          @extend .sr-only;
        }
      }
    }
    
    pre,
    .panel {
      border-radius: $base-border-radius * 1.5;
      border: 1px solid $medium-gray;
      margin-left:- $base-spacing;
      margin-right:- $base-spacing;
      
      code {
        white-space: pre-wrap;
        background-color: transparent;
        border:none;
        padding:0;
      }
    }
    
    h2 {
      font-family: $serif;
      font-size: 1.4em;
      line-height: 1.3em;
      margin-bottom: .4em;
      font-weight:700;
    }
    
    h3 {
      font-size: 1.4em;
      font-family: $serif;
      font-weight: 400;
      margin-bottom: .4em;
    }
    
    h4 {
      font-size: 1.2em;
      margin-bottom: .4em;
    }
    
    h5 {
      margin-bottom: .4em;
    }
    
    h6 {
      display:inline;
    }
    
    p.date {
      color: transparentize($base-font-color, .6);
      font-family: $serif;
      font-size: rem(13);
      font-style: italic;
      margin-bottom: 0.3em;
    }
    
    p {
      font-family: $serif;
      font-size: rem(15);
      line-height: 1.6em;
      margin-bottom: 1.5em;
    }
    
    ul {
      @extend %default-ul;
    }
    
    ol {
      @extend %default-ol;
    }
    
    p,
    li {
      strong {
        font-family: $sans-serif;
        font-weight: 700;
      }
    }
    
    a.read-more {
      display: inline-block;
      font-family: $sans-serif;
      font-size: 0.8em;
      font-weight: 700;
      margin-left: 0.2em;
      position: relative;
      text-transform: uppercase;
    
      span {
        font-family: $serif;
        font-size: 1.5em;
        font-style: normal;
        position: absolute;
        right: -12px;
        top: -1px;
      }
    }
    
    hr {
      width: 3em;
    }
    
    .author {
      font-family: $serif;
      font-style: italic;
      margin-top:-1em;
      margin-bottom: 1.5em;
      
      ul {
        display:inline;
        padding:0;
        
        li {
          display:inline;
          
          &:after {
            content:',';
          }
          
          &:nth-last-child(2):after {
            content:' &';
          }
          
          &:last-child:after {
            content:'.';
          }
        }
      }
    }
    
    .note {
      background-color:rgba($base-accent-color, 0.1);
      padding:$base-spacing;
      margin-left:- $base-spacing;
      margin-right:- $base-spacing;
      margin-bottom: $base-spacing;
      font-family:$sans-serif;
      
      h6 {
        background-color:rgba($base-accent-color, 0.6);
        margin-top: - $base-spacing;
        margin-right: - $base-spacing;
        margin-bottom: $base-spacing / 2;
        margin-left: - $base-spacing;
        padding: $base-spacing / 3 $base-spacing $base-spacing / 3 $base-spacing;
        color:#fff;
        display:block;
      }
      
      p  {
        font-family:$sans-serif;
      }
      
      :last-child {
        margin-bottom:0;
      }
    }
    
    .footnotes {
      border-top:solid 1px $medium-gray;
      font-size: 12px;
      padding-top:5px;
      margin-top:$base-spacing;
      
      p {
        font-size: 12px;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.wrapper {
  @include outer-container;
}

//////////////////////////////////////////////////////////////////////////////////

.tooltip-item {  

  $tooltip-background: white;
  $tooltip-color: $base-font-color;
  $tooltip-max-width: 16em;
  $tooltip-arrow-width: 8px;
  $tooltip-shadow: 0 1px 2px silver;
  $tooltip-distance-from-item: 3em;
  $tooltip-arrow-distance-from-box: -1.2em;

  position: relative;
  cursor:pointer;

  &:focus,
  &:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .tooltip {
    @include position(absolute, null 0 $tooltip-distance-from-item 0);
    @include transition (all 0.2s ease-in-out);
    background-color: $tooltip-background;
    background: #fff;
    border-radius: $base-border-radius;
    box-shadow: $tooltip-shadow;
    color: $tooltip-color;
    font-size: 0.9em; // Make sure you use -webkit-backface-visibility: hidden; on the body element to prevent 1px nudging bugs.
    line-height: 1.5em;
    margin: 0 auto;
    max-width: $tooltip-max-width;
    opacity: 0;
    padding: 1em;
    visibility: hidden;
    z-index: 10;
    cursor:auto;

    p {
      margin-bottom: 0.5em;      
    }
    
    *:last-child {
      margin-bottom: 0;
    }

    &:after {
      @include position(absolute, null 0 null 0);
      border: $tooltip-arrow-width solid transparent;
      bottom: $tooltip-arrow-distance-from-box;
      color: $tooltip-background;
      content: '▼';
      font-size: 1.4em;
      text-shadow: 0 2px 2px silver;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////


#menu {
  
  &.mm-menu {
    background-color:$light-gray;
    border-right: solid 1px $medium-gray;
    
    .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults)::after {
      margin-left:0;
    }
    
    li {
      
      &.mm-selected {
        a {
          border-left:solid 5px $base-accent-color;
          padding-left:15px;
        }
      }
      
      &.search {
        padding:15px 18px;
        border-bottom:solid 1px rgba(0, 0, 0, 0.1);
        
        &:after {
          display:none;
        }
        
        input[type="search"] {
          border:solid 1px rgba(0, 0, 0, 0.15);
          height:30px;
          border-radius:15px;
          box-sizing:border-box;
          padding:5px 15px;
          margin:0;
          
          &:focus {
            border-color:$base-accent-color;
          }
        }
      }
      
      a {
        text-transform:capitalize;
      }
      
      .subsections,
      .filter-items {
        max-height:0;
        padding-top:0;
        padding-bottom:0;
        font-size:rem(13);
        
        a {
          display:block;
          color:rgba( $base-font-color, .7 );
          padding-left: $base-spacing / 2;
          padding-top:3px;
          padding-bottom:3px;
          
          &:empty {
            display:none;
          }
          
          
          &:last-child {
            margin-bottom:10px;
          }
        }
      }
      
      &.filter {
        & > a {
          cursor:pointer;
          background-color:transparent;
          
          &:after {
            @include icon-font();
            content: "\e604";
            position:absolute;
            top:12px;
            right:19px;
          }
        }
        
        &.active {
          background-color:rgba(255, 255, 255, 0.6);
          
          & > a:after {
            content: "\e603";
            opacity:0.5;
          }
          
          .filter-items {
            max-height:none;
            
            a {
	      cursor:pointer;
              position:relative;
              
              .count {
                position:absolute;
                right:10px;
                font-size:12px;
              }
              
              &.active {
                background-color:rgba( $base-accent-color, .1 );
              }
            }
          }
        }
      }
    }
  }
  
  .apps-menu {
    &:not( .mm-selected ) {
      .mm-subopen {
        display:none;
      }
    }
  }
}
body:not( .filters ) {
  .app-sub-menu {
    .search,
    .filter {
      display:none;
    }
  }
}

.js #menu:not( .mm-menu )  {
  display: none;
}

//////////////////////////////////////////////////////////////////////////////////

.site-header {
  border-bottom: solid 1px $medium-gray;
  background-color:#fff;
  width:100%;
  z-index:1;
  
  .show-menu {
    @include icon-font();
    position:absolute;
    border-right:solid 1px $medium-gray;
    height:60px;
    width:60px;
    
    &:before {
      content: "\e120";
      font-size:22px;
      padding:6px;
      margin-top:12px;
      margin-left:12px;
      display:inline-block;
      color: $dark-gray;
    }
    
    .mm-opened & {
      background-color:$base-accent-color;
      
      &:before {
        color:#fff;
      }
    }
    
    .text {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
  }
  
  .site-title {
    color:$base-font-color;
    font-size:rem(19);
    line-height:60px;
    text-transform:uppercase;
    font-weight:700;
    display:block;
    margin-left: 75px;
    
    @include media($small-screen) {
      letter-spacing:2px;
      font-size:rem(20);
    
      .icon {
        @include icon-font();
        font-size:rem(32);
        float:left;
        height:60px;
        line-height:55px;
        margin-right:5px;
        text-align:center;
        
        &:before {
          content: "\e034";
        }
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////

.dropdown {
  $dropdown-color: $base-font-color;
  $dropdown-description-color: lighten($dropdown-color, 40%);
  $dropdown-border: 1px solid $base-border-color;
  $dropdown-background: $base-background-color;
  $dropdown-background-hover: rgba($base-accent-color, 0.1);
  $dropdown-inner-border: 1px solid $base-border-color;
  $dropdown-height: 40px;
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 50px;
  $dropdown-arrow-top-distance: 0;

  line-height: $base-line-height;
  display:inline-block;
  position:relative;
  border: $dropdown-border;
  border-radius:$base-border-radius;
  font-size: 0.9em;


  .dropdown-description {
    background: $dropdown-background;
    color: $dropdown-description-color;
    float: left;
    line-height: $dropdown-height - 3px;
    margin: 0;
    padding: 0 ($dropdown-padding / 2) 0 $dropdown-padding;
  }

  .dropdown-button {
    background: $dropdown-background;
    cursor: pointer;
    float: right;
    font-family:$serif;
    font-style:italic;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
    position: relative;
  }

  .dropdown-button:after {
    @include icon-font();
    line-height:inherit;
    font-size:1.2em;
    color: $base-font-color;
    content: "\e607";
    display: block;
    position: absolute;
    right: $dropdown-padding;
    top: $dropdown-arrow-top-distance;
    font-style:normal;
  }

  .dropdown-menu {
    @include transition (all 0.2s ease-in-out);
    background: $dropdown-background;
    border-radius: $base-border-radius;
    border: $dropdown-border;
    box-shadow: 0 1px 2px transparentize(black, 0.8);
    color: $dropdown-color;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    left: 0;
    top: $dropdown-distance-from-menu;
    width: 228px;
    z-index: 99999;

    &:before {
      position:absolute;
      color: $dropdown-background;
      content: "\25b2";
      font-size: 16px;
      pointer-events: none;
      text-shadow: 0 -2px 1px transparentize(black, 0.85);
      top: -18px;
      left:50%;
      width: 20px;
      text-align:center;
      margin-left:-10px;
    }
  }

  .dropdown-menu li {
    border-bottom: $dropdown-inner-border;
    list-style: none;
    padding: $dropdown-padding / 2;
    
    a {
      color: $dropdown-color; 
    }
  }

  .dropdown-menu li:hover {
    background: $dropdown-background-hover;
  }

  .dropdown-menu li:first-child {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  .dropdown-menu li:last-child {
    border: none;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  .show-menu {
    display: block;
  }
}


.language.dropdown {
  margin:$base-spacing / 2 $base-spacing;
  border:none;
  
  @include media($medium-screen) {
    position:absolute;
    top:0;
    right:150px;
  }
}

//////////////////////////////////////////////////////////////////////////////////

.page-content > :first-child {
  min-height:460px;
}


.post-content {
  @include span-columns(10);
  @include shift(1);
  
  &:nth-child(n+2) {
    padding-top:$base-spacing / 2;
  }
  &:last-child {
    margin-bottom:50px;
  }

  @include media($large-screen) {
    @include span-columns(8);
    @include shift(2);
  }
  @include media($extra-large-screen) {
    .mm-opening & {
      @include shift(0);
    }
  }
}


.page-tools {
  display:none;
  
  @include media($small-screen) {
    display:block;
  }
  
  position:fixed;
  bottom:0;
  width:100%;
  background-color: rgba( #fff, .95 );
  border-top:solid 1px $medium-gray;
  text-align:right;
  height:60px;
  line-height:59px;
  
  & > ul {
    float:left;
    display:block;
    text-align:left;
    
    & > li {
      float:left;
      display:block;
      padding-left:$base-spacing;
      padding-right:$base-spacing;
      border-color:$medium-gray;
      border-style:solid;
      border-width:0;
      border-right-width:1px;
      color:rgba( $base-font-color, .7 );
      
      & > a {
        color:rgba( $base-font-color, .7 );
        &:hover {
          color:$base-font-color;
        }
      }
      
      .tooltip {
        width:230px;
        bottom: 60px;
      }
      
      &:hover {
        background-color:#fff;
        color:$base-font-color;
      }
      
      &.edit {
        
        &:before {
          @include icon-font();
          content: "\e034";
          font-size:rem(18);
          float:left;
          margin-top:21px;
          margin-right:5px;
        }
        
        a.github {
          @extend button;
          display:block;
          text-align:center;
          
          & + a {
            display:block;
            margin-top: 10px;
            @extend button;
            text-align:center;
            background-color:$dark-gray;
          }
        }
      }
      
      &.donate {
        
        select {
          width:100%;
          margin-bottom:0.5em;
        }
        input {
          width:100%;
        }
        img {
          position:absolute;
        }
        
        &:before {
          @include icon-font();
          content: "\e024";
          font-size:rem(18);
          float:left;
          margin-top:21px;
          margin-right:5px;
        }
      }
      
      &.share {
        
        &:before {
          @include icon-font();
          content: "\e601";
          font-size:rem(18);
          float:left;
          margin-top:21px;
          margin-right:5px;
        }
        
        a {
          @extend button;
          display:block;
          text-align:center;
          margin-bottom:10px;
          
          &.facebook {
            background-color:#3A5795;
          }
          
          &.twitter {
            background-color:#55ACEE;
          }
        }
      }
      &.translate {
        
        &:before {
          @include icon-font();
          content: "\e608";
          font-size:rem(18);
          float:left;
          margin-top:21px;
          margin-right:5px;
        }
        
        a {
          @extend button;
          display:block;
          text-align:center;
        }
      }
      
      &.add {
        
        &:before {
          @include icon-font();
          content: "\e60a";
          font-size:rem(18);
          float:left;
          margin-top:21px;
          margin-right:5px;
        }
        
        a {
          @extend button;
          display:block;
          text-align:center;
        }
      }
      
    }
    &.pagination {
      float:right;
      
      & > li {
        border-left-width:1px;
        border-right-width:0;
        
        .tooltip {
          left:auto;
          
          &:after {
            left:auto;
          }
        }
        
        &:before {
          @include icon-font();
          font-size:rem(18);
          float:left;
          margin-top:21px;
          margin-right:5px;
        }
        
        &.start {
          &:before {
            content: "\e050";
          }
        }
        &.previous {
          &:before {
            content: "\e051";
          }
        }
        &.next {
          &:before {
            content: "\e055";
          }
        }
        
        a {
          @extend button;
          display:block;
          text-align:center;
          text-transform:capitalize;
        }
      }
    }
  }
  
  .footer-in-view & {
    position:static;
    clear:both;
  }
  
  // top-right on larger screens
  @include media($large-screen) {
    bottom: auto;
    top: 165px;
    width:auto;
    border:none;
    left:100%;
    height:auto;
    margin-left:-63px;
    
    & > ul {
      float:right;
      
      &.pagination li {
        background-color:$medium-gray;
      }
      
      & > li {
        float:none;
        border-width: 1px;
        margin-bottom:10px;
        min-width:215px;
        
        &:before {
          padding-right:20px;
        }
        
        .tooltip {
          top:-2px;
          bottom:auto;
          left: -225px !important;
          right:auto;
          
          &:after {
            right:-21px;
            left:auto;
            top:14px;
            bottom:auto;
            @include transform(rotate(-90deg));
          }
        }
      }
    }
    
    .footer-in-view & {
      position:fixed;
    }
    
  }
  @media all and (min-width: 1440px) {
    right:-23px;
    left:auto;
    
    & > ul {
      float:none;
      
      &.pagination {
        float:none;
      }
      
      & > li {
        &:before {
          padding-right:0;
        }
      }
    }
  }
  
  @media all and (min-width: 1500px) {
    right:-1px;
  }
}

html,
html.mm-background .mm-page,
.site-footer {
  background-color:$medium-gray;
}


.site-footer {
  padding:$base-spacing;
  
  & > div {
    @include outer-container(100%);
  }
  
  a {
    color:$base-font-color;
  }
  
  ul {
    display:inline-block;
    
    li {
      display:inline-block;
    }
  
    &.icons {
      li {
        
        a {
          
          span {
            @extend .sr-only;
          }
          
          &:before {
            @include icon-font();
            font-size:rem(16);
          }
        }
        &.donate {
          a:before {
            content: "\e024";
          }
        }
        &.email {
          a:before {
            content: "\e609";
          }
        }
        &.discuss {
          a:before {
            content: "\e60c";
          }
        }
        &.source {
          a:before {
            content: "\eab4";
          }
        }
      }
    }
  }
  
  .primary {
    @include media($large-screen) {
      @include span-columns(8);
    }
    
    & > a {
      margin-bottom:10px;
      
      @include media($medium-screen) {
        float:left;
        padding-left:$base-spacing / 2;
        padding-right:$base-spacing / 2;
      }
    }
    
    .supporters {
      margin-bottom:10px;
    
      h6 {
        font-size:11px;
        font-weight:normal;
        text-transform:uppercase;
      }
      img {
        margin-right:15px;
        height:34px;
      }
      
      @include media($medium-screen) {
        @include omega();
        padding-left:$base-spacing / 2;
        padding-right:$base-spacing / 2;
        display:table;
        
        h6 {
          display:table-cell;
          vertical-align:middle;
          white-space:nowrap;
          width:1%;
          
          &:after {
            content:':';
          }
        }
        
        img {
          display:table-cell;
          vertical-align:middle;
          margin-left: 15px;
          margin-right:0;
          float:left;
        }
      }
    }
  }
  
  .secondary {
    padding-top:$base-spacing / 2;
    padding-bottom:$base-spacing / 2;
    font-size:0.8em;
    
    @include media($large-screen) {
      @include span-columns(4);
      @include omega();
      text-align:right;
      padding-left:$base-spacing / 2;
    }
    
    li {
      display:inline-block;
      padding-right:$base-spacing / 2;
      
      &.button a {
        top:3px;
        position:relative;
      }
    }
  }
  
  .tertiary {
    font-size:rem(12);
    clear:left;
    
    div {
      padding-top:$base-spacing / 2;
      padding-bottom:$base-spacing / 2;
    }
    
    @include media($medium-screen) {
      @include fill-parent();
      @include row(table);
      
      padding:$base-spacing / 2;
      
      h6 {
        display:inline;
        
        &:after {
          content:':';
        }
      }
      
      & > div,
      & > ul {
        border-top:solid 1px rgba($dark-gray, .5);
      }
      & > :first-child {
        @include span-columns(11);
        
        ul {
          display:inline;
        
          li {
            display:inline;
            
            &:before {
              content:'\00a0\007C\00a0';
              color:rgba( $base-font-color, .5 );
            }
            
            &:first-of-type:before {
              content:'\00a0';
            }
          }
        }
        
        & + * {
          li {
            margin-right:6px;
          }
          @include media($medium-screen) {
            @include span-columns(1);
            @include omega();
            text-align:right;
            @include reset-display;
            
            li {
              margin-left:6px;
              margin-right:0;
            }
          }
        }
      }
    }
  }
}


.mm-page > div {
  background-color:#fff;
  position:relative;
}


.home {
  
  .banner {
    background-image:url(../img/home-banner-bg.jpg);
    background-size: 1314px 333px;
    background-position:center bottom;
    position:relative;
    z-index:0;
    overflow:hidden;
    text-align:center;
    
    .wrapper {
      padding: 20px $base-spacing 115px $base-spacing;
      max-height:333px;
      
      h1 {
        text-transform:uppercase;
        font-size:28px;
        letter-spacing:2px;
        margin-bottom:10px;
        position:absolute;
        left:-999px;
        
        @include media($medium-screen) {
          position:static;
          padding-top:30px;
          font-size:42px;
        }
      }
      
      p {
        font-family:$serif;
        font-style:italic;
        
        @include media($medium-screen) {
          font-size:21px;
          margin-bottom:30px;
          opacity:0.7;
          white-space: pre-line;
        }
      }
      
      &:before {
        content:'';
        display:block;
        position:absolute;
        width:1315px;
        left:50%;
        bottom:0;
        margin-left:-658px;
        @include retina-image('../img/home-banner', auto 215px, jpg);
        background-repeat:no-repeat;
        background-position:center bottom;
        height:215px;
        z-index:-1;
      }
    }
    
    &.ab-dark {
      color:#fff;
      
      p {
        color:#fff;
        opacity:1;
      }
    }
  }
  
  @media (min-width: 1020px) {
    padding-bottom:$base-spacing;
  }
  
  & > .wrapper {
    & > div {
      padding:$base-spacing;
      @include media($medium-screen) {
        @include span-columns(4);
        position:relative;
        padding-top: $base-spacing * 2;
        
        &:after {
          content:'';
          background-color:$medium-gray;
          display: block;
          position: absolute;
          top:$base-spacing;
          right: - $base-spacing / 2;
          bottom:0;
          width: 1px;
        }
        
        &:last-child:after {
          display:none;
        }
      }
    }
  }
  
  div {
    h2 {
      font-size:rem(24);
      margin-bottom:rem(6);
    }
    
    p {
      font-weight:300;
      font-size:rem(16);
      margin-bottom:rem(15);
    }
  
    & > a {
      @extend button;
    }
  }
  
  .alpha {
    @include span-columns(12);
    @include pad($base-spacing * 2);
    background-color:#fff;
   
    & > div {
      @include outer-container;
    }
    
    @media (min-width: 1020px) {
      margin-top:$base-spacing;
    }

  }
  
  .beta {
    clear:left;
    
    & > div {
      & > div {
        padding:$base-spacing;
      }
    }
    
    @include media($medium-screen) {
      //@include row(table);
      
      @include fill-parent();
    }
    & > div {
      @include pad();
      background-color:#fff;
      
      @include media($medium-screen) {
        @include span-columns(6);
        margin-top:$base-spacing;
        margin-bottom:$base-spacing;
        
        & > div {
          max-width:32.3em;
          margin-left:auto;
          padding:$base-spacing;
        }
      }
    
      &:last-child {
        //@include reset-display;
       
        @include media($medium-screen) {
          & > div {
            margin-left:0;
          }
        }
      }
    }
  }
}

.docs {
  .contributing {
    
    ul.tools {
      @include outer-container;
      padding-left:0;
      margin-top:$base-spacing * 2;
      margin-bottom:$base-spacing * 2;
      
      li {
        @include span-columns(4);
        text-align:center;
        position:relative;
        
        a {
          font-family:$sans-serif;
          color:$base-font-color;
          
          @include media($medium-screen) {
            font-size:rem(22);
            margin-left:30px;
            position:relative;
          }
          
          @include media($large-screen) {
            font-size:rem(26);
            margin-left:40px;
          }
          
          &:before {
            @include icon-font();
            margin-right:5px;
            
            @include media($medium-screen) {
              font-size:rem(28);
              position:absolute;
              left:-35px;
              top:-1px;
            }
            
            @include media($large-screen) {
              font-size:rem(34);
              left:-40px;
              top:-2px;
            }
          }
        }
        &.github {
          a:before {
            content: "\f00a";
          }
        }
        &.jekyll {
          a:before {
            content: "\e600";
          }
        }
        &.markdown {
          a:before {
            content: "\f0c9";
          }
        }
        
        @include media($medium-screen) {
          &:after {
            content:'+';
            position:absolute;
            right:- $base-spacing / 2;
            font-weight:bold;
            color:rgba($base-font-color, .5);
          }
          
          &:last-child:after {
            display:none;
          }
        }
      }
    }
  }
  
  .github {
    font-family:Helvetica,arial,freesans,clean,sans-serif;
    
    .button, .minibutton {
      -moz-user-select: none;
      background-color: #eee;
      background-image: linear-gradient(#fcfcfc, #eee);
      background-repeat: repeat-x;
      border: 1px solid #d5d5d5;
      border-radius: 3px;
      color: #333;
      cursor: pointer;
      display: inline-block;
      font-size: 13px;
      font-weight: bold;
      padding: 7px 12px;
      position: relative;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
      vertical-align: middle;
      white-space: nowrap;
    }

    .minibutton {
      line-height: 24px;
      padding: 0 10px;
    }
    
    .button i, .minibutton i {
      font-style: normal;
      font-weight: 500;
      opacity: 0.6;
    }

    .select-menu-button:after {
      border-color: $base-font-color transparent transparent;
      border-image: none;
      border-style: solid;
      border-width: 4px;
      content: "";
      display: inline-block;
      height: 0;
      vertical-align: -2px;
      width: 0;
    }
    
    .range-editor-icon {
      color: #666;
      display: inline-block;
      vertical-align:middle;
      margin-right:5px;
    }
    
    .range-cross-repo-pair {
      display: inline-block;
    }
    
    .range-editor .range {
      display: inline-block;
      
      .select-menu {
        display: inline-block;
      }
      
      .dots {
        color: #999;
        font-size: 16px;
        margin: 0 4px;
      }
    }
  }
}


.stories {
  @include outer-container;
  font-family:$serif;
  
  .post-content {
    
    .post-list {
      li {
        padding-bottom:$base-spacing;
        margin-bottom:$base-spacing;
        border-bottom:solid 1px $light-gray;
        
        h2 {
          font-family: $serif;
          font-size: 2em;
          font-weight: 700;
          margin-top:0;
          margin-bottom: 0.1em;
          
          a {
            color:$base-font-color;
          }
        
          @include media($medium-screen) {
            font-size: 2.6em;
          }
        }
        
        .post-excerpt {
          display:block;
        }
        
        & > a {
          @extend button;
          margin-top:1em;
        }
        
        &:last-child {
          border:none;
          margin-bottom:0;
        }
      }
    }
  }
}


.credits {
  @include outer-container;
  text-align:center;
  padding-top:$base-spacing * 2;
  padding-bottom:$base-spacing * 2;
  
  h1 {
    display:inline-block;
    text-transform:uppercase;
    letter-spacing:1px;
    border-bottom:solid 2px $dark-gray;
    font-size: 0.7em;
    font-weight: 700;
    padding: 0.3em 0;
  }
  
  h2 {
    margin-top:2em;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 400;
    line-height: 1.6em;
    color: lighten($base-font-color,10%);
    font-family:$serif;
  }
  
  ul {
  }
  
  img {
    margin-top:1em;
  }
  
  a {
    color:$base-font-color;
  }
  
  .supporters {
    
    li {
      &:after {
        content:'+';
        color: lighten($base-font-color,10%);
        display:block;
      }
      &:last-child:after {
        display:none;
      }
      img {
        max-height:76px;
      }
    }
  }
}


@import 
  "grid-layout"
;


@media only screen and (min-width : 576px) {

  .ok-ribbon {
    position:absolute;
  }
}

.active_language {color: red;}
.languages {padding: 16px 0;}
