---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$mm_ws_menuWidth: 0.25;

@import "mmenu/extensions/jquery.mmenu.widescreen";

@import "base/variables";

.mm-page {
  background-color:$medium-gray;
}

#menu {
  
  &.mm-menu {
    z-index:2;
    background-color:#fff;
    
    li.mm-selected {
      .subsections {
        display:block;
      }
    }
  }
}


.site-header {
  
  .show-menu {
    display:none;
  }
  
  .site-title {
    margin-left: 20px;
  }
}

.contribute {
  padding-left:25%;
  
  .footer-in-view & {
    padding-left:0;
  }
}