       <li>
         <a href="{{ "/en/introduction/" | prepend: site.baseurl }}">Open Data Handbook</a>
         <ul>
            <li {% if current.last == 'introduction' %} class="Selected"{% endif %}>
              <a href="{{ "/en/introduction/" | prepend: site.baseurl }}">Introduction</a>
              <span class="subsections">
                <a href="#target-audience">Target Audience</a>
                <a href="#credits">Credits</a>
              </span>
            </li>
            <li {% if current.last == 'why-open-data' %} class="Selected"{% endif %}>
              <a href="{{ "/en/why-open-data/" | prepend: site.baseurl }}">Why Open Data?</a>
            </li>
            <li {% if current.last == 'what-is-open-data' %} class="Selected"{% endif %}>
              <a href="{{ "/en/what-is-open-data/" | prepend: site.baseurl }}">What is Open Data?</a>
            </li>
            <li class="Spacer{% if current.last == 'contribute' %} Selected{% endif %}">
              <a href="{{ "/contribute/" | prepend: site.baseurl }}">Contribute</a>
              
              <ul>
                <li {% if current.last == 'contribute' %} class="Selected"{% endif %}>
                  <a href="{{ "/contribute/" | prepend: site.baseurl }}">Contributing to the handbook</a>
                </li>
                <li {% if current.last == 'editing' %} class="Selected"{% endif %}>
                  <a href="{{ "/contribute/editing/" | prepend: site.baseurl }}">Editing a page</a>
                </li>
                <li {% if current.last == 'adding' %} class="Selected"{% endif %}>
                  <a href="{{ "/contribute/adding/" | prepend: site.baseurl }}">Adding a page</a>
                </li>
                <li {% if current.last == 'markdown-examples' %} class="Selected"{% endif %}>
                  <a href="{{ "/contribute/markdown-examples/" | prepend: site.baseurl }}">Markdown Examples</a>
                </li>
              </ul>
            </li>
         </ul>
      </li>