<header class="site-header">
    <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.short_title }}</a>
</header>

<div class="language dropdown">
  <span class="dropdown-description">Language:</span>
  <span class="dropdown-button">English</span>
  <ul class="dropdown-menu dropdown-select">
    <li><a href="#">English</a></li>
    <li><a href="#">Bahasa</a></li>
    <li><a href="#">Deutsch</a></li>
    <li><a href="#">Ελληνικά</a></li>
    <li><a href="#">Español/Castellano</a></li>
    <li><a href="#">Français</a></li>
    <li><a href="#">עברית</a></li>
    <li><a href="#">Íslenska</a></li>
    <li><a href="#">Italiano</a></li>
    <li><a href="#">日本語</a></li>
    <li><a href="#">Latviešu</a></li>
    <li><a href="#">Lietuvių</a></li>
    <li><a href="#">Nederlands (Belgisch)</a></li>
    <li><a href="#">Português Brasileiro</a></li>
    <li><a href="#">Română</a></li>
    <li><a href="#">Pyccĸий</a></li>
    <li><a href="#">中国语文</a></li>
    <li><a href="#">繁體中文</a></li>
    <li><a href="#">한국어</a></li>
  </ul>
</div>

<nav id="menu">
  {% include menu.html %}
</nav>
