<header class="site-header">

  <div class="wrapper">
    <a href="#menu" class="show-menu">Open the menu</a>
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    
  </div>

</header>

<!--
<nav id="menu">
  <ul>
    {% for page in site.pages %}
      {% if page.title %}
        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
-->

<nav id="menu">
  {% include menu-en.html %}
</nav>
