{% if page.url contains 'guide'%}
  {% assign active_section = site.meta['guide'] %}
{% elsif page.url contains 'glossary'%}
  {% assign active_section = site.meta['glossary'] %}
{% elsif page.url contains 'value-stories'%}
  {% assign active_section = site.meta['value-stories'] %}
{% endif %}

{% if active_section.has_translation %}
{% if active_section.languages.size > 1 %}
<div class="languages">
  <strong>Languages:</strong>&nbsp;
  {% for language in site.languages %}
  {% if active_section.languages contains language[0] %}
  {% assign _url = page.url %}
  {% assign old_lang_bit = page.lang | prepend: '/' | append: '/' %}
  {% assign new_lang_bit = language[0] | prepend: '/' | append: '/' %}
  <span><a {% if language[0] == page.lang %}class="active_language"{% endif %} href="{{ _url | replace: old_lang_bit, new_lang_bit }}" title="{{ language[1] }}">{{ language[0] }}</a>&nbsp;</span>
  {% endif %}
  {% endfor %}
</div>
{% endif %}
{% endif %}
