{% assign current = page.url | downcase | split: '/' %}

{% assign guide = site.collections.guide %}
{% assign glossary = site.collections.glossary %}
{% assign value-stories = site.collections.value-stories %}
{% assign resources = site.collections.resources %}
{% assign guide_entry_point = site.baseurl | append: '/' | append: guide.label | append: '/' | append: page.lang | append: '/' | append: guide.toc.entry_point | append: '/' %}

    {% capture sectionlink %}/{% if page.section %}{{ page.section | downcase }}/{% endif %}{{ current.last }}/{% endcapture %}
    <ul>
      <li>
        <a href="{{ site.baseurl }}/">Home</a>
      </li>
      <!-- Handbook menu -->
      <!-- check to see if the data file has a submenu, and if so display it -->
      {% if guide.toc.chapters != null %}
      <li {% if current.last == guide.toc.href %}class="Selected"{% endif %}>
        <a href="{{ guide_entry_point }}">{{ guide.title }}</a>
        <ul>
          {% for chapter in guide.toc.chapters %}
          {% assign chapter_url = site.baseurl | append: '/' | append:  guide.label | append: '/' | append: chapter.slug | append: '/' | append: page.lang | append: '/' %}

          <li {% if page.url == chapter_url %}class="Selected"{% endif %}>
            <a href="{{ chapter_url }}">{{ chapter.title }}</a>
            {% if chapter.sections %}
            <span class="subsections">
              {% for section in chapter.sections %}
              <a href="#{{ section.slug }}">{{ section.title }}</a>
              {% endfor %}
            </span>
            {% endif %}
          </li>
          {% endfor %}

          {% include contribute-menu.html %}

        </ul>
      </li>
      {% else %}
      <!-- display the top level navigation for items that don’t have a submenu -->
      <li {% if current.last == guide.toc.entry_point %}class="Selected"{% endif %}>
        <a href="{{ guide_entry_point }}">{{ guide.title }}</a>
        {% if chapter.sections %}
        <span class="subsections">
          {% for section in chapter.sections %}
          <a href="#{{ section.slug }}">{{ section.title }}</a>
          {% endfor %}
        </span>
        {% endif %}
      </li>
      {% include contribute-menu.html %}
      {% endif %}

      <li{% if current.last == 'value-stories' %} class="Selected"{% endif %}>
        <a href="{{ "/value-stories/" | prepend: site.baseurl }}">Open Data Value Stories</a>
        <ul>
          {% for story in site.value-stories %}
          {% assign story_url = site.baseurl | append: '/' | append: post.url | append: '/' | append: page.lang | append: '/' %}
          {% assign currentstory = story.url | downcase | split: '/' %}
          <li{% if current.last == currentstory.last %} class="Selected"{% endif %}><a href="{{ story_url }}">{{ story.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% include resources-menu.html %}
      <li{% if current.last == 'credits' %} class="Selected"{% endif %}>
        <a href="{{ "/credits/" | prepend: site.baseurl }}">Credits</a>
      </li>
    </ul>
