    {% assign current = page.url | downcase | split: '/' %}
    {% capture sectionlink %}/{% if page.section %}{{ page.section | downcase }}/{% endif %}{{ current.last }}/{% endcapture %}
    <ul>
      <li>
        <a href="{{ site.baseurl }}/">Home</a>
      </li>
 
      <!-- Handbook menu -->
      {% for handbook_en in site.data.handbook-contents-en %}
      <!-- check to see if the data file has a submenu, and if so display it -->
      {% if handbook_en.subcategories != null %}
      <li {% if current.last == handbook_en.href %}class="Selected"{% endif %}>
        <a href="{{ site.baseurl }}/{{ handbook_en.lang }}/{{ handbook_en.href }}/">{{ handbook_en.title }}</a>
        <ul>
          {% for subcategory in handbook_en.subcategories %}
          
          {% capture handbooklink %}/{{ handbook_en.lang }}/{{ subcategory.subhref }}/{% endcapture %}
          
          <li {% if page.url == handbooklink %}class="Selected"{% endif %}>
            <a href="{{ site.baseurl }}/{{ handbook_en.lang }}/{{ subcategory.subhref }}/">{{ subcategory.subtitle }}</a>
            {% if subcategory.subsections %}
            <span class="subsections">
              {% for subsection in subcategory.subsections %}
              <a href="#{{ subsection.subid }}">{{ subsection.subheading }}</a>
              {% endfor %}
            </span>
            {% endif %}
          </li>
          {% endfor %}
          
          {% include contribute-menu.html %}
        </ul>
      </li>
      {% else %}
      <!-- display the top level navigation for items that don’t have a submenu -->
      <li {% if current.last == handbook_en.href %}class="Selected"{% endif %}>
        <a href="{{ site.baseurl }}/{{ handbook_en.lang }}/{{ handbook_en.href }}/">{{ handbook_en.title }}</a>
        {% if subcategory.subsections %}
        <span class="subsections">
          {% for subsection in subcategory.subsections %}
          <a href="#{{ subsection.subid }}">{{ subsection.subheading }}</a>
          {% endfor %}
        </span>
        {% endif %}
      </li>
      {% include contribute-menu.html %}  
      {% endif %}
      {% endfor %}
      
      <li{% if current.last == 'value-stories' %} class="Selected"{% endif %}>
        <a href="{{ "/value-stories/" | prepend: site.baseurl }}">Open Data Value Stories</a>
        <ul>
          {% for post in site.posts %}
          {% assign currentpost = post.url | downcase | split: '/' %}
          <li{% if current.last == currentpost.last %} class="Selected"{% endif %}><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% include resources-menu.html %} 
    </ul>
    
