<div class="page-tools">
 {% if page.pagination %}
  <ul class="pagination">
    {% if page.pagination.start %}
    <li class="start tooltip-item">
      Start
      <span class="tooltip">
        <a href="{{ page.pagination.start.link }}">{{ page.pagination.start.name }}</a>
      </span>
    </li>
    {% endif %}
    {% if page.pagination.previous %}
    <li class="previous tooltip-item">
      Previous
      <span class="tooltip">
        <a href="{{ page.pagination.previous.link }}">{{ page.pagination.previous.name }}</a>
      </span>
    </li>
    {% endif %}
    {% if page.pagination.next %}
    <li class="next tooltip-item">
      Next
      <span class="tooltip">
        <a href="{{ page.pagination.next.link }}">{{ page.pagination.next.name }}</a>
      </span>
    </li>
    {% endif %}
  </ul>
  {% endif %}
  
  <ul>
    {% if site.github_repo and page.edit %}
    <li class="edit tooltip-item">
      Improve this page
      
      <span class="tooltip">
        <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/edit/gh-pages/{{page.path}}" class="github" rel="external">Edit on Github</a>
        <a href="{{ "/contribute/" | prepend: site.baseurl }}" target="_blank">Help and instructions</a>
      </span>
    </li>
    {% endif %}
    {% if active_section.translate_link %}
    <li class="translate tooltip-item">
      Translate this page
      <span class="tooltip">
        <a href="{{ "/contribute/translate-guide" | prepend: site.baseurl }}" target="_blank">Translation guide</a>
      </span>
    </li>
    {% endif %}

    {% if site.paypal %}

    <li class="donate tooltip-item">
      Donate
      
      <span class="tooltip">
        <p>If you have found this useful and would like to support our work please consider making a small donation.</p>
        <form method="post" action="https://www.paypal.com/cgi-bin/webscr" target="_blank">
          <select name="currency_code">
            <option value="USD">US Dollar $</option>
            <option value="EUR">Euro €</option>
            <option value="GBP">UK £</option>
            <option value="AUD">Australian Dollar</option>
            <option value="CAD">Canadian Dollar</option>
            <option value="CZK">Czech Koruna</option>
            <option value="DKK">Danish Krone</option>
            <option value="HKD">Hong Kong Dollar</option>
            <option value="HUF">Hungarian Forint</option>
            <option value="JPY">Japanese Yen</option>
            <option value="NOK">Norwegian Krone</option>
            <option value="NZD">New Zealand Dollar</option>
            <option value="PLN">Polish Zloty</option>
            <option value="SEK">Swedish Krona</option>
            <option value="SGD">Singapore Dollar</option>
            <option value="CHF">Swiss Franc</option>
          </select>
          <input type="text" value="2.00" name="amount">
          <input type="submit" value="Donate via PayPal" name="submit">
          <img width="1" border="0" height="1" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" alt="">
          <img width="1" border="0" height="1" src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="">
          <input type="hidden" value="_xclick" name="cmd">
          <input type="hidden" value="{{ site.paypal }}" name="business">
          <input type="hidden" value="{{ site.short_title }} Donation to Open Knowledge" name="item_name">
        </form>
      </span>
    </li>
    {% endif %}
    <li class="share tooltip-item">
      Share
      
      <span class="tooltip">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook" rel="external">Share on Facebook</a>
        <a href="https://twitter.com/home?status={{page.title }}: {{ site.url }}{{ page.url }}" class="twitter" rel="external">Share on Twitter</a>
      </span>
    </li>
    {% if page.section == 'resources' %}
    <li class="add tooltip-item">
      Add a resource
      
      <span class="tooltip">
        <a href="{{ "/contribute/add-resource/" | prepend: site.baseurl }}" target="_blank">Help and instructions</a>
      </span>
    </li>
    {% endif %}
    {% if page.section == 'solutions-landing' %}
    <li class="add tooltip-item">
      Add a solution
      
      <span class="tooltip">
        <a href="{{ "/contribute/" | prepend: site.baseurl }}" target="_blank">Help and instructions</a>
      </span>
    </li>
    {% endif %}
  </ul>
  
</div>