  <h1>{{ page.title }}</h1>
  <section class="topics">
    <header>
      <h2>Featured Topics</h2>
    </header>
    <ul>
      <li>
         <a href="#" style="background-image:url(../img/basics.jpg)" data-attribution="CC BY / libertygrace0">
          <h3>The basics</h3>
        </a>
      </li>
      <li>
        <a href="#" style="background-image:url(../img/Policy.jpg)">
          <h3>Policy</h3>
        </a>
      </li>
      <li>
        <a href="#" style="background-image:url(../img/print.jpg)">
          <h3>Standards</h3>
        </a>
      </li>
      <li>
        <a href="#" style="background-image:url(../img/training.jpg)">
          <h3>Data Training</h3>
        </a>
      </li>
      <li>
        <a href="#" style="background-image:url(../img/FOI.jpg)">
          <h3>Right to Information</h3>
        </a>
      </li>
      <li>
        <a href=http://bibliography.opendataresearch.org style="background-image:url(../img/academic.jpg)">
          <h3>Academic Research</h3>
        </a>
      </li>
     <li>
        <a href="#" style="background-image:url(../img/lock.jpg)">
          <h3>Privacy</h3>
        </a>
      </li>
    <li>
        <a href="#" style="background-image:url(../img/Civic.jpg)">
          <h3>Civic Engagement</h3>
        </a>
      </li>
    <li>
        <a href="#" style="background-image:url(../img/Advocacy.jpg)">
          <h3>Adovcacy</h3>
        </a>
      </li>
    </ul> 
  </section>
  
  <section class="media-types">
    <header>
      <h2>Media Types</h2>
    </header>
    <ul>
      <li>
        <a href="#">
          <span class="icon-world"></span>
          <h3>Articles</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon-file-pdf"></span>
          <h3>Presentations</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon-book"></span>
          <h3>Publications</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon-youtube"></span>
          <h3>Video</h3>
        </a>
      </li>
    </ul>  
  </section>
