      <li{% if current.last == 'resources' %} class="Selected"{% endif %}>
        <a href="{{ "/resources/" | prepend: site.baseurl }}">Open Data Resources</a>
        <ul>
          <!--
          <li class="search">
            <input type="search" placeholder="Search">
          </li>
          -->
          {% for type in site.data.resources_filters %}

            {% comment %}This block calculates the unique values of each type{% endcomment %}
            {% assign delimiter = "#" %}
            {% assign names_str = "" %}
            {% assign names = site.resources | map: type %}
            
            {% for name in names %}
                {% assign names_arr = names_str | split: delimiter %}
                {% unless names_arr contains name %}
                    {% assign names_str = names_str | append: delimiter | append: name %}
                {% endunless %}
            {% endfor %}
            {% assign names_uniq = names_str | remove_first: delimiter | split:delimiter %}

            <li class="filter">
              <a>{{ type }}</a>
              <span class="filter-items">

              {% comment %}Calculate the number of each unique value{% endcomment %}
              {% for name in names_uniq %}
                  {% assign counter = 0 %}
                  {% for resource in names %}
                    {% if name == resource %}
                        {% assign counter = counter | plus: 1 %}
                    {% endif %}
                  {% endfor %}
                  <a data-filter="{{ type }}" data-value="{{ name }}">{{ name }}<span class="count">{{ counter }}</span></a>
              {% endfor% %}
              </span>
            </li>

          {% endfor %}
        </ul>
      </li>
