<table>
<tr>
<th>Title </th>
<th>Description</th>
<th>Link</th>
<th>Publishing date</th>
<th>Publishing entity</th>
<th>Keywords</th>
<th>Language</th>
<th>Author</th>
<th>Topic</th>
<th>MediaType</th>
<th>Country</th>
<th>Region</th>
<th>Notes</th>
<th></th>
<tr>
<td><a href="https://okfn.org/opendata/">https://okfn.org/opendata/</a></td>
<td>A very short intro to Open Data</td>
<td><a href="https://okfn.org/opendata/">https://okfn.org/opendata/</a></td>
<td>Unknown</td>
<td>OKF</td>
<td>Open Data</td>
<td>English</td>
<td>Open Knowledge International </td>
<td>Open Data </td>
<td>Website </td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open Data Dictionary</td>
<td>Glossary of Open Data terms</td>
<td><a href="https://docs.google.com/a/okfn.org/document/d/1Rgu3ziIQ_jtZf-3G-qNa7imEpH27g4iUvh-HtFA5UvY/edit">https://docs.google.com/a/okfn.org/document/d/1Rgu3ziIQ_jtZf-3G-qNa7imEpH27g4iUvh-HtFA5UvY/edit</a></td>
<td>Unknown</td>
<td>OKF</td>
<td>Open Data</td>
<td>English</td>
<td>Open Knowledge International </td>
<td>Open Data </td>
<td>Website </td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>W3C guidelines for Open Data</td>
<td>Technical guidelines to publish open data</td>
<td><a href="http://www.w3.org/TR/gov-data/">http://www.w3.org/TR/gov-data/</a></td>
<td>2009</td>
<td>W3C</td>
<td>Open Data</td>
<td>English</td>
<td>Daniel Bennett, Adam Harvey</td>
<td>Open Data </td>
<td>PDF</td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open Data Policy Guidelines</td>
<td>Open data guidelines addressing what data should be public, how to make data public, and how to implement policy</td>
<td><a href="http://sunlightfoundation.com/opendataguidelines/">http://sunlightfoundation.com/opendataguidelines/</a></td>
<td>2014</td>
<td>Sunlight Foundation</td>
<td>Open Data</td>
<td>English</td>
<td>Sunlight Foundation </td>
<td>Open Data </td>
<td>Website </td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Ten Open Data principles</td>
<td>Ten basic principles of open data that provide a lens to evaluate the extent to which government data is open and accessible to the public. </td>
<td><a href="http://sunlightfoundation.com/policy/documents/ten-open-data-principles/">http://sunlightfoundation.com/policy/documents/ten-open-data-principles/</a></td>
<td>2010</td>
<td>Sunlight Foundation</td>
<td>Open Data</td>
<td>English</td>
<td>John Wonderlich</td>
<td>Open Data </td>
<td>Website, PDF </td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Empowering the Open Data dialogue</td>
<td></td>
<td><a href="http://sunlightfoundation.com/blog/2013/10/22/empowering-the-open-data-dialogue/">http://sunlightfoundation.com/blog/2013/10/22/empowering-the-open-data-dialogue/</a></td>
<td>2013</td>
<td>Sunlight Foundation</td>
<td>Open Data</td>
<td>English</td>
<td>Laurenellen McCann and Alisha Green</td>
<td>Open Data </td>
<td>Blog </td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open Government Data for Citizen Engagement in Managing Development</td>
<td>Guidelines, tailored to the needs and contraints of developing countries, for policy makers and technologists to use to understand, design, implement and sustain open government data initiatives.</td>
<td><a href="http://www.unpan.org/DPADM/ProductsServices/OpenGovernmentDataandServices/tabid/1536/language/en-US/Default.aspx">http://www.unpan.org/DPADM/ProductsServices/OpenGovernmentDataandServices/tabid/1536/language/en-US/Default.aspx</a></td>
<td>2013</td>
<td>United Nations </td>
<td>Open Data, Open Government </td>
<td>English</td>
<td>Vyatcheslav Cherkasov, Deniz Susar, Daniel Dietrich</td>
<td>Open Data </td>
<td>PDF</td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open Government book</td>
<td>A book on the principles, practices, and a history of the open government data movement.</td>
<td><a href="http://opengovdata.io/">http://opengovdata.io/</a></td>
<td>2012</td>
<td>Josh Trauber</td>
<td>Open Data</td>
<td>English</td>
<td>Josh Trauber</td>
<td>Open Data </td>
<td>Book </td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open Government</td>
<td>A collection of early articles and case studies discussing various aspects of open government and open data</td>
<td><a href="https://github.com/oreillymedia/open_government/">https://github.com/oreillymedia/open_government/</a></td>
<td>2010</td>
<td>O'rielly</td>
<td>Open Data, Open Government </td>
<td>English</td>
<td>Daniel Lathrop, Laurel Ruma</td>
<td>Open Government </td>
<td>Book </td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>G8 Open Data charter and technical annex</td>
<td>G8 Guidelines on publishing Open Data. </td>
<td><a href="https://www.gov.uk/government/publications/open-data-charter/g8-open-data-charter-and-technical-annex#principle-1-open-data-by-default">https://www.gov.uk/government/publications/open-data-charter/g8-open-data-charter-and-technical-annex#principle-1-open-data-by-default</a></td>
<td>2013</td>
<td>G8 / British Government</td>
<td>Open Data, Open Data Policy</td>
<td>English</td>
<td>Cabinet Office </td>
<td>Open Data </td>
<td>PDF</td>
<td>UK</td>
<td>Europe</td>
<td></td>
<td></td>
<tr>
<td>Web foundation ODRAs</td>
<td>Open Data Assessment studies from Chile, Ghana and Indonesia</td>
<td><a href="http://webfoundation.org/projects/open-government-data-feasibility-studies/">http://webfoundation.org/projects/open-government-data-feasibility-studies/</a></td>
<td>2010 - 2011</td>
<td>Web Foundation</td>
<td>Open Data, Open Government </td>
<td>English</td>
<td>Web Foundation</td>
<td>Open Data, Open Government </td>
<td>PDF</td>
<td>Chile, Ghana, Indonesia</td>
<td>Asia, LATAM, Africa </td>
<td></td>
<td></td>
<tr>
<td>ODI Guides</td>
<td>A collection of guides covering issues such as licensing, privacy and data reuse</td>
<td><a href="http://theodi.org/guides/">http://theodi.org/guides/</a></td>
<td>N/A</td>
<td>ODI</td>
<td>Open Data, License, Privacy</td>
<td>English</td>
<td>Open Data Institute </td>
<td>Open Data</td>
<td>Website</td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open Data Now by Joel Gurin</td>
<td>A book focused on the business value of open data while also addressing privacy, government and social issues</td>
<td><a href="http://www.opendatanow.com/book-open-data-now/">http://www.opendatanow.com/book-open-data-now/</a></td>
<td>2014</td>
<td>GovLAB / Joel Gorin</td>
<td>Open Data, Buisness </td>
<td>English</td>
<td>Joel Gorin</td>
<td>Open Data</td>
<td>Book </td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open Data field guide</td>
<td>A comprehensive guide for publishers (mainly governments) for ensuring your open data program serves you and your citizens.</td>
<td><a href="http://www.socrata.com/open-data-field-guide/">http://www.socrata.com/open-data-field-guide/</a></td>
<td>N/A</td>
<td>Socrata</td>
<td>Open Data, Open Government </td>
<td>English</td>
<td>Socrata</td>
<td>Open Data</td>
<td>Website</td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open Data white paper (UK governent)</td>
<td>Policy paper by the british government regarding Open Data</td>
<td><a href="http://data.gov.uk/sites/default/files/Open_data_White_Paper.pdf">http://data.gov.uk/sites/default/files/Open_data_White_Paper.pdf</a></td>
<td>2012</td>
<td>UK Government</td>
<td>Open Data </td>
<td>English</td>
<td>Cabinet Office </td>
<td>Open Data</td>
<td>PDF</td>
<td>UK</td>
<td>Europe</td>
<td></td>
<td></td>
<tr>
<td>Open Government Data OGP</td>
<td>Guides which are targated to governments to Open Data - Comes with countries examples</td>
<td><a href="http://www.opengovguide.com/topics/open-government-data/">http://www.opengovguide.com/topics/open-government-data/</a></td>
<td>2013</td>
<td>OGP</td>
<td>Open Data, Aid, Construction, Consumer Protection, Elections, Environment ,Extractive industry ,Fisheries, Land, Parliaments, Police and public security, Security sector, Tax and Illicit flows</td>
<td>English / Spanish</td>
<td>Open Government Partnership, Access Info, Center for Global Development , Centre for Law and Democracy, Chr. Michelsen Institute (CMI), Construction Sector Transparency Initiative (CoST), Consumers International , Global Integrity, Global Witness, International Budget Partnership, International Records Management Trust, Involve, National Democratic Institute, Open Contracting Partnership, Open Knowledge Foundation, Open Rights Group, Open Society Foundation, Privacy International, Publish What You Fund, Revenue Watch Institute, Sunlight Foundation , The Access Initiative, Twaweza and Whistleblowing International Network</td>
<td>Open Data</td>
<td>Website, PDF</td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open Data Guide</td>
<td>A guidebook for state & local government officials who want to get started with open data.</td>
<td><a href="http://opendata.guide/">http://opendata.guide/</a></td>
<td>2014</td>
<td>Mark J. Headd</td>
<td>Open Data, Local</td>
<td>English</td>
<td>Mark J. Headd</td>
<td>Open Data</td>
<td>Website</td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open By Default</td>
<td>An open data playbook to help you get started in your city or county</td>
<td><a href="http://www.codeforamerica.org/governments/principles/open-data/">http://www.codeforamerica.org/governments/principles/open-data/</a></td>
<td>2014</td>
<td>Code for America</td>
<td>Open Data, Local</td>
<td>English</td>
<td>Code for America </td>
<td>Open Data</td>
<td>Website</td>
<td>International </td>
<td>Global </td>
<td></td>
<td></td>
<tr>
<td>Open Government in Latin America</td>
<td>Case studies on Open Data in LATAM</td>
<td><a href="http://www.oecd-ilibrary.org/governance/open-government-policies-in-latin-america_9789264223639-en">http://www.oecd-ilibrary.org/governance/open-government-policies-in-latin-america_9789264223639-en</a></td>
<td>2014</td>
<td>OECD</td>
<td>Open Government, Latin America</td>
<td>English / French</td>
<td>OECD</td>
<td>Open Government</td>
<td>Website, PDF</td>
<td>Latin America
</td>
<td>Latin America</td>
<td></td>
<td></td>
<tr>
<td>Open Data Privacy notes</td>
<td>Academic discussion on Open Data and privacy with clear definitions.</td>
<td><a href="http://www.opendataresearch.org/content/2013/501/open-data-privacy-discussion-notes">http://www.opendataresearch.org/content/2013/501/open-data-privacy-discussion-notes</a></td>
<td>2013</td>
<td>Open Data research network</td>
<td></td>
<td>English</td>
<td>IDRC research networks:  Privacy in the Developing World network, and the Open Data in Developing Countries network</td>
<td>Privacy
</td>
<td>Website</td>
<td>International</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Guide to data protection</td>
<td>Explanation of the UK data protection act</td>
<td><a href="https://ico.org.uk/for-organisations/guide-to-data-protection/">https://ico.org.uk/for-organisations/guide-to-data-protection/</a></td>
<td>2013</td>
<td>Information Comissenior's Office - UK</td>
<td></td>
<td>English</td>
<td>UK Information Commissioners' Office</td>
<td>Privacy</td>
<td>Website, PDF</td>
<td>UK</td>
<td>UK</td>
<td></td>
<td></td>
<tr>
<td>Transparent Government, Not Transparent Citizens: A Report on Privacy and Transparency for the Cabinet Office</td>
<td>A report about open data and privacy for the UK cabinet office with recommendations</td>
<td><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/61279/transparency-and-privacy-review-annex-a.pdf">https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/61279/transparency-and-privacy-review-annex-a.pdf</a></td>
<td>2013</td>
<td>Kieron O’Hara</td>
<td>Privacy, Transparency</td>
<td>English</td>
<td>Kieron O’Hara</td>
<td>Privacy</td>
<td>PDF</td>
<td>UK</td>
<td>Europe</td>
<td></td>
<td></td>
<tr>
<td>Save the Titanic: Hands-on anonymisation and risk control of publishing open data</td>
<td>A Guide to annonamization</td>
<td><a href="http://theodi.org/guides/save-the-titanic-handson-anonymisation-and-risk-control-of-publishing-open-data">http://theodi.org/guides/save-the-titanic-handson-anonymisation-and-risk-control-of-publishing-open-data</a></td>
<td>2014</td>
<td>ODI</td>
<td>open government, risk mitigation, anonymisation, anonymised data</td>
<td>English</td>
<td></td>
<td>Privacy</td>
<td>Website
</td>
<td>International</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>The Guardian Guide to Metadata</td>
<td>This resource gives a short and useful explaination about what is metadata</td>
<td><a href="http://www.theguardian.com/technology/interactive/2013/jun/12/what-is-metadata-nsa-surveillance#meta=0000000">http://www.theguardian.com/technology/interactive/2013/jun/12/what-is-metadata-nsa-surveillance#meta=0000000</a></td>
<td>2014</td>
<td>The Guardian</td>
<td></td>
<td>English</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td>Open is never once mentioned in the article. It's a useful exercise in metadata and social media/digital tools, but otherwise not relevant to open.</td>
<td></td>
<tr>
<td>EU PSI open data and privacy</td>
<td>EU guide to Open Data and Privacy</td>
<td><a href="http://ec.europa.eu/justice/data-protection/article-29/documentation/opinion-recommendation/files/2013/wp207_en.pdf">http://ec.europa.eu/justice/data-protection/article-29/documentation/opinion-recommendation/files/2013/wp207_en.pdf</a></td>
<td>2013</td>
<td>EU</td>
<td>reuse of public sector data</td>
<td>English</td>
<td></td>
<td>Privacy</td>
<td>PDF</td>
<td>EU</td>
<td>Europe</td>
<td></td>
<td></td>
<tr>
<td></td>
<td>Connectivity Measurements</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Privacy and Developing Countries</td>
<td></td>
<td><a href="https://www.priv.gc.ca/information/research-recherche/2011/hosein_201109_e.asp">https://www.priv.gc.ca/information/research-recherche/2011/hosein_201109_e.asp</a></td>
<td>2011</td>
<td>Office of the Privacy Commissioner of Canada</td>
<td></td>
<td>English</td>
<td>Dr. Gus Hosein</td>
<td>Privacy</td>
<td></td>
<td></td>
<td></td>
<td>open data is never mentioned</td>
<td></td>
<tr>
<td>Poorer countries need privacy laws as they adopt new technologies</td>
<td></td>
<td><a href="http://www.theguardian.com/global-development/2013/dec/04/poorer-countries-privacy-laws-new-technology">http://www.theguardian.com/global-development/2013/dec/04/poorer-countries-privacy-laws-new-technology</a></td>
<td>04th Dec 2013</td>
<td>The Guardian</td>
<td></td>
<td>English</td>
<td></td>
<td>Privacy</td>
<td></td>
<td></td>
<td></td>
<td>open data is never mentioned</td>
<td></td>
<tr>
<td>Information Economy Report 2013 - Cloud Computing in Developing Countries</td>
<td></td>
<td><a href="http://unctad.org/en/PublicationsLibrary/ier2013_en.pdf">http://unctad.org/en/PublicationsLibrary/ier2013_en.pdf</a></td>
<td>2013</td>
<td>UNCTAD</td>
<td></td>
<td>English</td>
<td>ICT Analysis Section</td>
<td>Privacy</td>
<td>PDF</td>
<td></td>
<td></td>
<td>only one mention of open data, not until page 78 of the report</td>
<td></td>
<tr>
<td>Addressing the Challenged of Data Protection in Developing Countries</td>
<td></td>
<td><a href="http://www.eajournals.org/wp-content/uploads/ADDRESSING-THE-CHALLENGES-OF-DATA-PROTECTION-IN-DEVELOPING-COUNTRIES.pdf">http://www.eajournals.org/wp-content/uploads/ADDRESSING-THE-CHALLENGES-OF-DATA-PROTECTION-IN-DEVELOPING-COUNTRIES.pdf</a></td>
<td>2013</td>
<td>European Centre for Research Training and Development </td>
<td></td>
<td>English</td>
<td>Muli David Tovi, Mutua Nicholas Muthama</td>
<td>Privacy</td>
<td></td>
<td></td>
<td></td>
<td>open data is never mentioned</td>
<td></td>
<tr>
<td>Privacy and Biometric ID Systems - An Approach Using Fair Information
Practices for Developing Countries </td>
<td>This paper explore privacy practices in connection to the biometric id systems. The paper defines privacy principle, introduce  the fair information practices and uses privacy assesment practices to understand privacy consequences. Lastly, the paper use biometric Id systems as a case study for this methods. </td>
<td><a href="http://www.cgdev.org/sites/default/files/privacy-and-biometric-ID-systems_0.pdf">http://www.cgdev.org/sites/default/files/privacy-and-biometric-ID-systems_0.pdf</a></td>
<td>2013</td>
<td>Center for Global Development</td>
<td>privacy, biometric, privacy assessment</td>
<td>English</td>
<td>Robert Gellman</td>
<td>Privacy</td>
<td>PDF</td>
<td>N/A</td>
<td>Global</td>
<td></td>
<td></td>
<tr>
<td>The Viagra Vote?</td>
<td>This article discuss the ethics of data mining and data analytics for the perpuses of elections in the USA and the privacy implications of it. </td>
<td><a href="http://www.politico.com/story/2014/12/data-mining-elections-113826.html">http://www.politico.com/story/2014/12/data-mining-elections-113826.html</a></td>
<td>2014</td>
<td>Politico</td>
<td></td>
<td>English</td>
<td>Darren Samuelsohn</td>
<td>Privacy</td>
<td>Html article</td>
<td>USA</td>
<td>North America</td>
<td></td>
<td></td>
<tr>
<td>Independent Reporting Mechanism - Civic Participation in Latin American OGP Commitments</td>
<td>This is a report about the participation of civil society in Open Gvoernment policies in 10 Latin American countries. The report is based on the independant report mechanism of the Open Government Partenrship. It is also suggests different ways to improve engagment with the community. </td>
<td><a href="http://www.opengovpartnership.org/sites/default/files/attachments/LatAm%20Participation%20Web.pdf">http://www.opengovpartnership.org/sites/default/files/attachments/LatAm%20Participation%20Web.pdf</a></td>
<td>2014</td>
<td>OGP</td>
<td>Civic participation, report mechanism, OGP</td>
<td>English, Spanish</td>
<td>J. Preston Whitt</td>
<td>Civic participation</td>
<td>PDF</td>
<td>Brazil, Chile, Colombia, Dominican Republic, El Salvador, Honduras, Mexico, Paraguay, Peru, Uruguay</td>
<td>Latin America</td>
<td><a href="http://www.opengovpartnership.org/sites/default/files/attachments/Participación_C%C3%ADvica_América_Latina.pdf">http://www.opengovpartnership.org/sites/default/files/attachments/Participación_C%C3%ADvica_América_Latina.pdf</a></td>
<td>Spanish version</td>
<tr>
<td>E-Government Implementation and Practice in Developing Countries</td>
<td></td>
<td><a href="http://www.igi-global.com/book/government-implementation-practice-developing-countries/73667">http://www.igi-global.com/book/government-implementation-practice-developing-countries/73667</a></td>
<td>2013</td>
<td>IGI Global</td>
<td></td>
<td>English</td>
<td>Zaigham Mahmood</td>
<td>E-government</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Fingerprinting Infants Helps Track Vaccinations in Developing Countries</td>
<td></td>
<td><a href="http://www.technologyreview.com/news/530481/fingerprinting-infants-helps-track-vaccinations-in-developing-countries/">http://www.technologyreview.com/news/530481/fingerprinting-infants-helps-track-vaccinations-in-developing-countries/</a></td>
<td>2015</td>
<td>MIT Technology Review</td>
<td></td>
<td>English</td>
<td>Martin LaMonica</td>
<td>Privacy</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Aiding Surveillance: An Exploration of How Development and Humanitarian Aid Initiatives are Enabling Surveillance in Developing Countries</td>
<td></td>
<td><a href="http://papers.ssrn.com/sol3/Delivery.cfm/SSRN_ID2326229_code1872258.pdf?abstractid=2326229&mirid=3">http://papers.ssrn.com/sol3/Delivery.cfm/SSRN_ID2326229_code1872258.pdf?abstractid=2326229&mirid=3</a></td>
<td>2013</td>
<td>Social Science Electronic Publishing</td>
<td></td>
<td>English</td>
<td>Gus Hussein, Carly Nist</td>
<td>Privacy</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Government Open and Shut: Transparency, Privacy and Mass Surveillance</td>
<td>This is a video of a panel that took place in November 2013 at the OGP summit in London. The panel discuss privacy issues in mass surveillance and in open data and suggests some solutions for it. </td>
<td><a href="https://www.youtube.com/watch?v=aykM-nMIQ6w">https://www.youtube.com/watch?v=aykM-nMIQ6w</a></td>
<td>2013</td>
<td>OGP</td>
<td>Privacy, surveillance, OGP</td>
<td>English</td>
<td>Open Government Partnership</td>
<td>Privacy</td>
<td>Video</td>
<td>England</td>
<td>Global</td>
<td></td>
<td></td>
<tr>
<td>Why Open Government is So Crucial To Our Society</td>
<td>Martha Mendoza talks about the importance of open government and about using Freedom of Information laws around the globe to ensure transparency. Basic video to explain the concept of Open Data</td>
<td><a href="https://www.youtube.com/watch?v=KzDE7D52zlA">https://www.youtube.com/watch?v=KzDE7D52zlA</a></td>
<td>2012</td>
<td>TEDx Santa Cruz</td>
<td>Transperancy, Access to information</td>
<td>English</td>
<td>TedxSantaCruz</td>
<td>Freedom of Information</td>
<td>Video</td>
<td>USA</td>
<td>Global</td>
<td></td>
<td></td>
<tr>
<td>Consultation outcome - Making open data real</td>
<td>This document is a summary of the responses the British Cabinet Office received to its public consultation, Making Open Data Real, published on 4 August 2011.The consultation document set out a series of questions aimed at stimulating debate on how best to embed a culture of openness and transparency within public services.</td>
<td><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/78885/making-data-real-consultation-summary-responses.pdf">https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/78885/making-data-real-consultation-summary-responses.pdf</a></td>
<td>2011</td>
<td>UK Cabinet Office</td>
<td>Public consultation, Open Data, Government</td>
<td>English</td>
<td>UK Cabinet Office</td>
<td>Open Data principles</td>
<td>PDF</td>
<td>UK</td>
<td>Europe</td>
<td></td>
<td></td>
<tr>
<td>British Government Open Data Prinicples</td>
<td>This document describe the open data principles and framework for the British Government</td>
<td><a href="https://www.gov.uk/service-manual/technology/open-data.html">https://www.gov.uk/service-manual/technology/open-data.html</a></td>
<td>2013</td>
<td>UK Government Digital Service</td>
<td></td>
<td>English</td>
<td>UK Cabinet Office</td>
<td>Open Data principles</td>
<td>Html article</td>
<td>UK</td>
<td>Europe</td>
<td></td>
<td></td>
<tr>
<td>Digital by Default Service Standard</td>
<td>The Digital by Default Service Standard is a set of criteria for digital teams building government services to mee</td>
<td><a href="https://www.gov.uk/service-manual/digital-by-default">https://www.gov.uk/service-manual/digital-by-default</a></td>
<td></td>
<td>UK Government Digital Service</td>
<td></td>
<td>English</td>
<td>UK Cabinet Office</td>
<td>Digital by Default</td>
<td>Html article</td>
<td>UK</td>
<td>Europe</td>
<td></td>
<td></td>
<tr>
<td>The year that governments struck back: Seven things you need to know about privacy in 2014</td>
<td>The article highlight topics in survelliance and privacy in government data and present cases from around the world where privacy was violiated</td>
<td><a href="https://www.privacyinternational.org/?q=node/101">https://www.privacyinternational.org/?q=node/101</a></td>
<td>2014</td>
<td>Privacy International</td>
<td>Privacy, surveillance</td>
<td>English</td>
<td>Michael Rispoli</td>
<td>Privacy</td>
<td>Html article</td>
<td>Kenya, Colombia, Egypt, Tunisia, Argentina, Uganda</td>
<td>Global</td>
<td></td>
<td></td>
<tr>
<td>Open Data or Privacy Breach?</td>
<td>This article looks at the privacy breaches in British Open Data and the difficulty in making all thing open without taking extra care of privacy. </td>
<td><a href="http://diginomica.com/2014/04/22/open-data-privacy-breach/">http://diginomica.com/2014/04/22/open-data-privacy-breach/</a></td>
<td>2014</td>
<td>Diginomica</td>
<td>Privacy</td>
<td>English</td>
<td>Phil Wainewright</td>
<td>Privacy</td>
<td>Html article</td>
<td>UK</td>
<td>Europe</td>
<td></td>
<td></td>
<tr>
<td>Beyond Access: Open Government Data & the Right to (Re)use Public Information</td>
<td>[DEAD LINK]</td>
<td><a href="http://www.access-info.org/documents/Access_Docs/Advancing/Beyond_Access_7_January_2011_web.pdf">http://www.access-info.org/documents/Access_Docs/Advancing/Beyond_Access_7_January_2011_web.pdf</a></td>
<td>2011</td>
<td>Access Info & Open Knowledge</td>
<td></td>
<td>English</td>
<td></td>
<td>Open Data Policy</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Open Government Data and the Right to Information: Opportunities and Obstacles</td>
<td>Short overview of the drivers and background of the Open Government Data and Right To Information movements, plus an address of the commonalities and differences between both movements followed by an assessment of the risks and opportunities that the OGD movement can hold for the older, more established RTI.</td>
<td><a href="http://ci-journal.net/index.php/ciej/article/view/952/954">http://ci-journal.net/index.php/ciej/article/view/952/954</a></td>
<td>2012</td>
<td>The Journal of Community Informatics</td>
<td></td>
<td>English</td>
<td>Katleen Janssen</td>
<td>Open Data Policy</td>
<td>Html article</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Connecting Open Data and the Right to Information in Sierra Leone</td>
<td>Historical account of when Society for Democratic Initiatives, Sierra Leone, began a groundbreaking new research project as part of the Open Data in Developing Countries (ODDC) research network. The project aimed to assess the practicality of open data initiatives in post-conflict Sierra Leone and was one of 17 case studies in developing countries commissioned by the World Wide Web Foundation through a research grant from Canada’s International Development and Research Centre.</td>
<td><a href="http://www.opendataresearch.org/content/2014/642/connecting-open-data-and-right-information-sierra-leone">http://www.opendataresearch.org/content/2014/642/connecting-open-data-and-right-information-sierra-leone</a></td>
<td>2014</td>
<td></td>
<td></td>
<td>English</td>
<td></td>
<td>Open Data Policy</td>
<td>Html article</td>
<td>Sierra Leone</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Right to Information and Transparency in the Digital Age: Policy, Tools and Practices</td>
<td>Videos from workshop about Access To Infomation, which has become one of the most promising tools to combat corruption, increase people’s participation in (self) governance and thus, to strengthen democracy.</td>
<td><a href="http://fsi.stanford.edu/events/rtitech">http://fsi.stanford.edu/events/rtitech</a></td>
<td>2013</td>
<td>Stanford University</td>
<td></td>
<td>English</td>
<td></td>
<td>Open Data Policy</td>
<td>Videos</td>
<td>USA</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>World That Counts: Mobilising The Data Revolution for Sustainable Development.</td>
<td>This report sets out the main opportunities and risks presented by the data revolution for sustainable development. It is prepared at the request of the United National Secretary-General, by the 'Independent Expert Advisory Group on a Data Revolution for Sustainable Development'.</td>
<td><a href="http://www.undatarevolution.org/wp-content/uploads/2014/12/A-World-That-Counts2.pdf">http://www.undatarevolution.org/wp-content/uploads/2014/12/A-World-That-Counts2.pdf</a></td>
<td>2014</td>
<td>The UN Secretary General's Independent Expert Advisory Group
on a Data Revolution for Sustainable Development</td>
<td></td>
<td>English</td>
<td></td>
<td>Open Data Policy</td>
<td>PDF</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>From open data to a right to data: A response to the UN Data Revolution report</td>
<td>Summary from a recent workshop with the Independent Expert Advisory Group’s lead author, Claire Melamed, where participants (including Publish What You Fund, ONE Campaign, Open Data Watch and other partners) reflected on what it would take to bring about a “data revolution” to make the global fight against poverty more effective.</td>
<td><a href="http://webfoundation.org/2014/12/from-open-data-to-a-right-to-data-a-response-to-the-un-data-revolution-report/">http://webfoundation.org/2014/12/from-open-data-to-a-right-to-data-a-response-to-the-un-data-revolution-report/</a></td>
<td>2014</td>
<td>World Wide Web Foundation</td>
<td></td>
<td>English</td>
<td></td>
<td>Open Data Policy</td>
<td>Html article</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Open Data in Developing Countries: Emerging Insights from Phase I</td>
<td>Emerging Insights from Phase I of 'Exploring the Emerging Impacts of Open Data in Developing Countries'; a multicountry, multi-year study led by the World Wide Web Foundation to understand how open data is being put to use in different countries and contexts across the developing world. The project is funded by grant 107075 from Canada’s International Development Research Center (idrc.ca) and runs from February 2013 until mid-2015.</td>
<td><a href="http://opendataresearch.org/sites/default/files/publications/Phase%201%20-%20Synthesis%20-%20Full%20Report-print.pdf">http://opendataresearch.org/sites/default/files/publications/Phase%201%20-%20Synthesis%20-%20Full%20Report-print.pdf</a></td>
<td>2014</td>
<td>Open Data Research Network</td>
<td></td>
<td>English</td>
<td></td>
<td>Developing Countries</td>
<td>PDF</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Building Global Capacity on Open Data</td>
<td>Account of a small team of independent evaluators who was invited to look at the Open Data in Developing Countries project, including talking to partners and collecting evidence to provide insights into the process, and the early impacts, of the project.</td>
<td><a href="http://www.opendataresearch.org/content/2014/732/guest-post-building-global-capacity-open-data">http://www.opendataresearch.org/content/2014/732/guest-post-building-global-capacity-open-data</a></td>
<td>2014</td>
<td>Open Data Research Network</td>
<td></td>
<td>English</td>
<td></td>
<td>Institutional Framework</td>
<td>Html article</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Researching the emerging impacts of open data - ODDC conceptual framework</td>
<td>This working paper seeks to contribute to the conversation on open data research, focussing in particular on open data in developing countries. It offers a brief overview of open data definitions and recent development, before turning to look at different approaches for researching open data.</td>
<td><a href="http://www.opendataresearch.org/sites/default/files/posts/Researching%20the%20emerging%20impacts%20of%20open%20data.pdf">http://www.opendataresearch.org/sites/default/files/posts/Researching%20the%20emerging%20impacts%20of%20open%20data.pdf</a></td>
<td>2013</td>
<td>Open Data Research Network</td>
<td></td>
<td>English</td>
<td></td>
<td>What is Open Data</td>
<td>PDF</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Evaluating open government data initiatives: can a 5-star framework work?</td>
<td>Article that investigates how to evaluate or compare open government data initiatives (ODI). With initiatives like data.gov and data.gov.uk well established, and well over 100 national and city-level open data initiatives emerging across the globe, the question of evaluating these initiatives is coming up more and more.</td>
<td><a href="http://www.opendataimpacts.net/2011/11/evaluating-open-government-data-initiatives-can-a-5-star-framework-work/">http://www.opendataimpacts.net/2011/11/evaluating-open-government-data-initiatives-can-a-5-star-framework-work/</a></td>
<td>2011</td>
<td>Open Data Impacts</td>
<td></td>
<td>English</td>
<td></td>
<td>Assessment</td>
<td>Html article</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Access to Government Information: Right to Information and Open Government Data Synergy</td>
<td>This paper attempts to present the underlined ideology of the Open Government Data and Right To Information movements, which have fashioned the access to government information and to substantiate that the way to the future is a one-way street towards the greatest possible dissemination of government information as this can be established by the synergy of RTI and OGD in order to preserve and promote the primary human and political right to receive information so as to be informed and able to freely express opinions, ideas and thoughts.</td>
<td><a href="http://www.sciencedirect.com/science/article/pii/S187704281404018X/pdf?md5=8c31bdc5f56601be595f8353efd18136&pid=1-s2.0-S187704281404018X-main.pdf">http://www.sciencedirect.com/science/article/pii/S187704281404018X/pdf?md5=8c31bdc5f56601be595f8353efd18136&pid=1-s2.0-S187704281404018X-main.pdf</a></td>
<td>2014</td>
<td>3rd International Conference on Integrated Information (IC-ININFO)</td>
<td></td>
<td>English</td>
<td>Aikaterini Yannoukakoua, Iliana Arakab</td>
<td>Open Data Policy</td>
<td>PDF</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Open Data and Access to Information Advocates Unite</td>
<td>Blog post outlining what access to information has to do with open data.</td>
<td><a href="http://blog.okfn.org/2012/09/28/open-data-and-access-to-information-advocates-unite/">http://blog.okfn.org/2012/09/28/open-data-and-access-to-information-advocates-unite/</a></td>
<td>2012</td>
<td>Open Knowledge</td>
<td></td>
<td>English</td>
<td>Jonathan Gray</td>
<td>Open Data Policy</td>
<td>Html article</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Open Government Data: Right to Information 2.0 or its Rollback Version?</td>
<td>This paper discusses the relationship between the open government data (OGD) movement and the right to information (RTI) movement.</td>
<td><a href="http://papers.ssrn.com/sol3/Delivery.cfm/SSRN_ID2152566_code1629884.pdf?abstractid=2152566&mirid=3">http://papers.ssrn.com/sol3/Delivery.cfm/SSRN_ID2152566_code1629884.pdf?abstractid=2152566&mirid=3</a></td>
<td>2012</td>
<td>Social Science Research Network</td>
<td></td>
<td>English</td>
<td>Katleen Janssen </td>
<td>Open Data Policy</td>
<td>Html article</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Implementing the Right to Information</td>
<td>The Open Learning Campus provides convenient and reliable access to the latest developments in topics, which address complex, real-world issues in priority areas such as governance, health, cities, climate change and public private partnerships. This podcast series disseminates knowledge undertaken by the World Bank Governance and Public Sector Management unit on the legal frameworks of right to information and accompanying implementation efforts in the public sector. It was funded in parts by the Bank Netherlands Partnership Program, the Governance Partnership Facility, and the Nordic Trust Fund on Human Rights.</td>
<td><a href="https://itunes.apple.com/us/podcast/olc-implementing-right-to/id947558883?mt=2">https://itunes.apple.com/us/podcast/olc-implementing-right-to/id947558883?mt=2</a></td>
<td>2014</td>
<td>The World Bank</td>
<td></td>
<td>English</td>
<td></td>
<td>Open Data Policy</td>
<td>Podcast</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Case Watch: Colombia Says No to Blanket Limits on the Right to Information</td>
<td>Article which looks at the limits of the public access to information and whether the mere fact that information relates to national security or international relations prevent public access to it.</td>
<td><a href="http://www.opensocietyfoundations.org/voices/case-watch-colombia-says-no-blanket-limits-right-information">http://www.opensocietyfoundations.org/voices/case-watch-colombia-says-no-blanket-limits-right-information</a></td>
<td>2014</td>
<td>Open Society Foundations</td>
<td></td>
<td>English</td>
<td>Emi MacLean</td>
<td>Open Data Policy</td>
<td>Html article</td>
<td>Columbia</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>African Declaration on Internet Rights and Freedom</td>
<td>Article sets "12 Principles on the Internet" for social, economic and human development in Africa.</td>
<td><a href="http://africaninternetrights.org/declaration/">http://africaninternetrights.org/declaration/</a></td>
<td></td>
<td>Global Partners Digital, Association for Progressive Communications</td>
<td></td>
<td>English</td>
<td></td>
<td>Open Data Policy</td>
<td>Html article</td>
<td>Africa</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Open data, open government and critical consciousness</td>
<td>Recap of panel talk by Linda Raftree at the Engineers Without Borders, Canada, Annual Policy Forum. It summarizes how open data are having impact in 4 key areas: (1) economic growth/entrepreneurship, (2) transparency, accountability and governance, (3) improved resource allocation and provision of services and (4) connecting data dots and telling stories the public needs to know.</td>
<td><a href="http://lindaraftree.com/2013/01/18/open-data-and-critical-consciousness/">http://lindaraftree.com/2013/01/18/open-data-and-critical-consciousness/</a></td>
<td>2013</td>
<td>Wait… What? - bridging community development and technology</td>
<td></td>
<td>English</td>
<td>Linda Raftree</td>
<td>Open Data Policy</td>
<td>Html article</td>
<td>Canada</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>The Data Manifesto</td>
<td>Manifesto that states that we need a Data Revolution that sets a new political agenda, that puts existing data to work, that improves the way data is gathered and ensures that information can be used. It outlines the 12 steps involved in the Data Revolution.</td>
<td><a href="http://devinit.org/policy-briefings/data-manifesto-2/">http://devinit.org/policy-briefings/data-manifesto-2/</a></td>
<td>2014</td>
<td>Development Initiatives</td>
<td></td>
<td>English</td>
<td></td>
<td>Pipeline</td>
<td>Html article</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
<tr>
<td>Guidelines on Open Government Data for Citizen Engagement </td>
<td>The Guidelines on OGDCE focuses on how to open government data and how this can be useful for citizen engagement by providing an easy-to-use reference guide that introduces policy guidelines and best practice recommendations developed by the international community.</td>
<td><a href="http://workspace.unpan.org/sites/Internet/Documents/Guidenlines%20on%20OGDCE%20May17%202013.pdf">http://workspace.unpan.org/sites/Internet/Documents/Guidenlines%20on%20OGDCE%20May17%202013.pdf</a></td>
<td>2013</td>
<td>United Nations - Department of Economic and Social Affairs</td>
<td></td>
<td>English</td>
<td></td>
<td>Open Data Policy</td>
<td>PDF</td>
<td>Global</td>
<td></td>
<td></td>
<td></td>
</table>