  <h1>{{ page.title }}</h1>
  <section class="topics">
    <header>
      <h2>Featured Topics</h2>
      <p>Short explanation of why these are featured lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </header>
    <ul>
      <li>
        <a href="#" style="background-image:url(../img/lock.jpg)">
          <h3>Topic Title</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Topic Title</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Topic Title</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Topic Title</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Topic Title</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Topic Title</h3>
        </a>
      </li>
    </ul>  
  </section>
  
  <section class="media-types">
    <header>
      <h2>Media Types</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </header>
    <ul>
      <li>
        <a href="#">
          <span class="icon-world"></span>
          <h3>Website</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon-file-pdf"></span>
          <h3>PDF</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon-book"></span>
          <h3>Book</h3>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon-youtube"></span>
          <h3>Video</h3>
        </a>
      </li>
    </ul>  
  </section>