<ul>
  {% for node in site.meta.guide.toc.order | reversed %}

  {% comment %}NOTE: The joys of looping in Liquid.{% endcomment %}
  {% if node == 'glossary' %}
  {% for glossary in site.pages %}
  {% if glossary.section == 'glossary' and glossary.lang == page.lang %}
  {% if glossary.path contains 'terms' %}
  {% else %}
  <li><a href="{{ glossary.url }}" title="">{{ glossary.title }}</a></li>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endif %}

  {% for chapter in site.pages %}
  {% if chapter.section == 'guide' and chapter.lang == page.lang and chapter.path contains 'index' and chapter.path contains node %}
  <li><a href="{{ chapter.url }}" title="{{ chapter.title }}">{{ chapter.title }}</a></li>
  {% endif%}
  {% endfor %}
  {% endfor %}
</ul>
