@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ut7wbj');
	src:url('fonts/icomoon.eot?#iefixut7wbj') format('embedded-opentype'),
		url('fonts/icomoon.woff?ut7wbj') format('woff'),
		url('fonts/icomoon.ttf?ut7wbj') format('truetype'),
		url('fonts/icomoon.svg?ut7wbj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icon-font() {
  font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @include icon-font();
}

.icon-git-compare:before {
	content: "\f0ac";
}

.icon-git-pull-request:before {
	content: "\f009";
}

.icon-eye:before {
	content: "\f04e";
}

.icon-test-tube:before {
	content: "\e600";
}

.icon-mark-github:before {
	content: "\f00a";
}

.icon-markdown:before {
	content: "\f0c9";
}

.icon-pencil:before {
	content: "\f058";
}

.icon-fast-forward:before {
	content: "\e055";
}

.icon-heart:before {
	content: "\e024";
}

.icon-paper:before {
	content: "\e034";
}

.icon-search:before {
	content: "\e036";
}

.icon-menu:before {
	content: "\e120";
}

.icon-github:before {
	content: "\eab4";
}
