@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-xa2jhf');
	src:url('fonts/icomoon.eot?#iefix-xa2jhf') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-xa2jhf') format('truetype'),
		url('fonts/icomoon.woff?-xa2jhf') format('woff'),
		url('fonts/icomoon.svg?-xa2jhf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icon-font() {
  font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @include icon-font();
}

.icon-skip-back:before {
	content: "\e050";
}
.icon-rewind:before {
	content: "\e051";
}
.icon-speech-bubble:before {
	content: "\e60c";
}
.icon-circle-check:before {
	content: "\e60b";
}
.icon-plus:before {
	content: "\e60a";
}
.icon-mail:before {
	content: "\e609";
}
.icon-translate:before {
	content: "\e608";
}
.icon-arrow-drop-down:before {
	content: "\e607";
}
.icon-youtube:before {
	content: "\e606";
}
.icon-square-minus:before {
	content: "\e603";
}
.icon-square-plus:before {
	content: "\e604";
}
.icon-link:before {
	content: "\e602";
}
.icon-share:before {
	content: "\e601";
}
.icon-git-compare:before {
	content: "\f0ac";
}
.icon-git-pull-request:before {
	content: "\f009";
}
.icon-eye:before {
	content: "\f04e";
}
.icon-test-tube:before {
	content: "\e600";
}
.icon-mark-github:before {
	content: "\f00a";
}
.icon-markdown:before {
	content: "\f0c9";
}
.icon-pencil:before {
	content: "\f058";
}
.icon-fast-forward:before {
	content: "\e055";
}
.icon-heart:before {
	content: "\e024";
}
.icon-paper:before {
	content: "\e034";
}
.icon-search:before {
	content: "\e036";
}
.icon-menu:before {
	content: "\e120";
}
.icon-github:before {
	content: "\eab4";
}
.icon-section:before {
	content: "\ea76";
}
.icon-book:before {
	content: "\e91f";
}
.icon-file-pdf:before {
	content: "\eada";
}
.icon-world:before {
	content: "\e605";
}
.icon-info:before {
	content: "\ea0c";
}
