$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$base-accent-color: #75bb00;
$base-link-color: $base-accent-color !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$base-font-color: $dark-gray !default;

$serif: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
$sans-serif: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);