---
layout: default
wide: true
---
<div class="post">
  <article class="post-content">
    <p class="pre-header">{{ page.section }}</p>
    <h1 class="post-title">{{ page.title }}</h1>
    {{ content }}
  </article>
  
</div>

<div class="page-tools">
  <ul>
  {% if site.github_repo %}
    <li class="edit tooltip-item">
      <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/edit/gh-pages{{ page.url | append: '@' | remove: '/@' }}.{{ page.extension }}" rel="external">Edit this page</a>
      
      <span class="tooltip">
        <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/edit/gh-pages{{ page.url | append: '@' | remove: '/@' }}.{{ page.extension }}" class="github" rel="external">Edit on Github</a>
        <a href="{{ "/contribute/" | prepend: site.baseurl }}">Learn more about contributing</a>
      </span>
    </li>
    {% endif %}
    <li class="donate tooltip-item">
      Donate
      
      <span class="tooltip">
        <p>If you have found this useful and would like to support our work please consider making a small donation.</p>
        <form method="post" action="https://www.paypal.com/cgi-bin/webscr">
          <select name="currency_code">
            <option value="USD">US Dollar $</option>
            <option value="EUR">Euro €</option>
            <option value="GBP">UK £</option>
            <option value="AUD">Australian Dollar</option>
            <option value="CAD">Canadian Dollar</option>
            <option value="CZK">Czech Koruna</option>
            <option value="DKK">Danish Krone</option>
            <option value="HKD">Hong Kong Dollar</option>
            <option value="HUF">Hungarian Forint</option>
            <option value="JPY">Japanese Yen</option>
            <option value="NOK">Norwegian Krone</option>
            <option value="NZD">New Zealand Dollar</option>
            <option value="PLN">Polish Zloty</option>
            <option value="SEK">Swedish Krona</option>
            <option value="SGD">Singapore Dollar</option>
            <option value="CHF">Swiss Franc</option>
          </select>
          <input type="text" value="2.00" name="amount">
          <input type="submit" value="Donate via PayPal" name="submit">
          <img width="1" border="0" height="1" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" alt="">
          <img width="1" border="0" height="1" src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="">
          <input type="hidden" value="_xclick" name="cmd">
          <input type="hidden" value="{{ site.email }}" name="business">
          <input type="hidden" value="Open Data Handbook Donation to the Open Knowledge Foundation" name="item_name">
        </form>
      </span>
    </li>
  </ul>
  {% if page.next %}
  <a href="{{ page.next | prepend: site.baseurl }}">Next</a>
  {% endif %}
</div>
