---
layout: default
wide: true
---

{% assign section_base = site.baseurl | append: 'value-stories' | append: '/' | append: page.lang | append: '/' %}
<div class="stories">
  <div class="post-content">
  <h1 class="pre-header"><a href="/{{ section_base }}">{{ page.title }}</a></h1>
    <ul class="post-list">
      {% for story in site.pages %}
      {% if story.section == 'value-stories' and story.lang == page.lang %}
      {% assign story_length = story.content | number_of_words %}
      <li class="{% if story_length > 100 %}long{% else %}short{% endif %}">
        <h2>
          <a class="post-link" href="{{ story.url | prepend: site.baseurl }}">{{ story.title }}</a>
        </h2>
        <span class="post-excerpt">{{ story.content | truncatewords: 100 | markdownify | strip_html }}</span>
        <a class="post-link" href="{{ story.url | prepend: site.baseurl }}">Read More</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
