// Typography
$serif: 'Lora', Georgia, Cambria, "Times New Roman", Times, serif;
$sans-serif: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$monospaced: monaco,Consolas,"Lucida Console",monospace;

$base-font-family: $sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$base-accent-color: rgb(122,184,0);
$dark-gray: #333;
$medium-gray: #EDEDED;
$light-gray: #FAFAFA;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $base-accent-color;
$base-link-color: $base-accent-color !default;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: none;
$form-box-shadow-focus: none;
